# Entorno virtual de Python
env/
venv/

# Bases de datos 
mariaDB/
db.sqlite3
pgsql/

# Archivos temporales de Python y Django
__pycache__/
*.pyc

# Archivos de configuración locales que puedan tener contraseñas
.env

# Archivos basura de Windows
Thumbs.db

# Anotaciones propias
anotaciones/
conexiones.txt
incluir.txt

# Compilados de PyInstaller
build/
dist/
*.spec
iniciador.exe